# Command for check ignore files
# git status --ignored

#ignore files general
**/.vscode
**/*workspace.code*
**/.log
**/.vagrant

#security
**/authorized_keys
**/*.pub
**/*.ppk
**/pk_protheus
**/private_key